@import 'colors';
@import 'text/*';
@import 'layout/*';
@import 'modules/*';

a {
    @include orange-1;
}

img {
    display: block;
}

.helping-hand {
    transform: rotate(35deg) translateX(-25px);
    margin: 47px auto 30px;
    display: block;
}