.community-class {
    padding: 24px;
}

.community-class + .section {
    padding-top: 0;
}

@media (min-width: 1280px) {
    .community-class {
        display: grid;
        grid-template-columns: 800px 2fr;
        grid-gap: 2vw;
        align-items: center;
    }
}